body{
    background-color: #0F985A !important;
    margin: auto;
}
#letterNUMBER{
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}
#iconos1{
    font-size: 120px;
    color: red;
    margin-left: 10px;
}
#iconos2{
    font-size: 120px;
    color: red;
    transform: scaleY(-1);
    margin-right: 10px;
}